* {box-sizing: border-box;}

.menu {
  background-color: white;
  font-family: sans-serif;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .120);
  z-index: 1;
  display: flex;
  margin: auto;
  justify-content: center;
  
}

.menu-index {
  background-color: transparent;
  font-family: sans-serif;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .120);
  z-index: 1;
  display: flex;
  margin: auto;
  justify-content: center;
  
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;   

}

#btn_menu {
  text-align: center;
  text-decoration: none;
  color: black;/*color: #685b5b;*/
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
}

#btn_menu:hover {
  color: #0085dd;
  transition: 0.2s linear;
}

#btn_menu-index {
  text-align: center;
  text-decoration: none;
  color: whitesmoke;/*color: #685b5b;*/
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
  margin-right: 15px;
}

#btn_menu-index:hover {
  color: #0085dd;
  transition: 0.2s linear;
}

.menu_right#menu_principal {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100% auto  ;
  z-index: 1;

}

.contatomenu {
  width: 320px;
  display: flex;
  justify-content: center;
}

#numtel {
  display: flex; 
  margin: auto; 
  padding-right: 0px; 
  justify-content: center;
  transition: 0.1s linear;
}
#telefone {
  display: flex; 
  margin: auto; 
  padding-right: 0px; 
  justify-content: center;
  font-size: 50px;
  transition: 0.1s linear;
}

  #whatsmenu {
  display: flex; 
  margin: auto; 
  padding-right: 0px; 
  justify-content: center;
  font-size: 50px;
  width: 50px;
}
.numtel {
  display: flex; 
  margin: auto; 
  padding-right: 0px; 
  justify-content: center;
}

#endereco_row {
  margin-top: 22.825px;
  margin-right: 22.438px;
  margin-left: 15.438px;
  overflow: hidden;
  
}

.logo {
  margin: 10px;
  margin-left: 30px;
  display: flex;
  object-fit: contain;
  width: 280px;
  overflow: hidden;
  transition: 0.2s linear;
  float: left;

}

.logo-index {
  margin: 10px;
  margin-left: 30px;
  display: flex;
  object-fit: contain;
  width: 280px;
  overflow: hidden;
  transition: 0.2s linear;
  float: left;
  filter: grayscale(1) invert(1);
}

#btn_menu:hover {
  transition: all 0.2s ease;
  color: #2b92d6

}

#endereco {
  float: right;
  text-decoration: none;
  align-items: center;  
  text-align: center;
  font-size: 20px; 
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0;
  color: rgb(94, 218, 5);
  overflow: hidden;
  transition: 0.2s linear;
  padding: 5.5px;  


}

.logo_icon {
  width: 100px;
  display: block;
  object-fit: contain;
  overflow: hidden;
  transition: 0.2s linear;
}

.btn_menu {
  border: 0px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
  display: flex;
  margin: 0px;
  margin-right: 15px;
  transition: 0.2s linear;

}

.img_tratamento#tcc {
  width: 38%;
}

.img_tratamento#gc {
  width: 25%;
}

.img_tratamento#passos {
  width: 15%;
}

.img_tratamento#medicamentoso {
  width: 28%;
}

@media only screen and (max-width: 800px) {
  /*:root {
    --script: $(document).ready(function(){$('menu#menu').attr('class','menu')});
    
  }*/

  :root {
    --script_banner: $(document).ready(function(){$('row#banner').attr('id','banner-mobile')});
    
  }

  :root {
    --script_logo: $(document).ready(function(){$('logo-index#logo').attr('id','logo-mobile')});
    
  }

  .contatomenu {
    display: none;
}

.icon_menu {
    float: right;
}

  #texto-banner {
    display: none;
  }

  
  #banner_mobile {
    margin-top: 100px;
  }

  .logo-index {
    display: none;
    
  }

  .logo-index#logo-mobile {
    display: flex;
    justify-content: center;
    float: left;
    width: 260px;
  }
  
  .logo_icon {
    margin: 0;
    display: inline-block;
    margin-top: 20px;

  }
  body {
    margin: 0;
    height: 100%;
    margin-top: 70px;

  }
  
  .menu_right#logo_mobile {
    display: none;
    float: right;
    margin: 10px;
    margin-right: 10px;
    width: 50px;
    overflow: hidden;
    transition: 0.2s linear;

  }
  .menu_right#icon_menu {
    width: 100%;
    margin: auto;
    display: block;
    
  }
  #endereco {
    font-size: 20px;
    width: 100%;
  }

  .icon_menu #icon_btn {
    display: inline-block;
    font-size: 58px; /*35px*/
    color: rgb(110, 107, 107);
    object-fit: contain;
    margin: 10.15px;
    overflow: hidden;
    transition: 0.2s linear; 
  }
  .icon_menu #icon_btn:hover{
    transition: all 0.2s ease;
    color: #2b92d6
  }

  .list_menu {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 220px;
    width: 100%;
    margin: auto;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .120);
    
  }
  
  .list {
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
  }

  .list li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-align: center;
    line-height: 32px;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

  .list a{ 
    text-decoration: none;
    color: #000000;
    font-size: 20px;
  }

  .list a:hover{ 
    transition: all 0.2s ease;
    text-decoration: none;
    color: #2b92d6;
  }

  .logo {
    display: block;
  }

  .logo_right {
    display: none;
  }

  .menu_right#menu_principal {
    display: none;
  }
  .endereco {
    display: none;
  }
  #numtel {
    display: none;

    margin: auto; 
    padding-right: 0px; 
    justify-content: center;
  }
  #telefone {
    display: flex; 
    margin: auto; 
    padding-right: 0px; 
    justify-content: center;
    font-size: 50px;
    
  }
  #whatsmenu {
    display: flex; 
    margin: auto; 
    padding-right: 0px; 
    justify-content: center;
    font-size: 50px;

  }

  .img_tratamento#tcc {
    width: 100%;
  }

  .img_tratamento#tcre {
    width: 70%;
  }

  .img_tratamento#gc {
    width: 85%;
  }
  
  .img_tratamento#passos {
    width: 50%;
  }

  .img_tratamento#medicamentoso {
    width: 92%;
  }
}

#logo_mobile {
  display: none;
}

#icon_menu {
  display: none;
}
.list_menu { 
  display: none;
}
