body {
    position: relative;
    margin-top: 110px; /* margin-top: 110px */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.body-index {
    position: relative;
    margin-top: 0px; /* margin-top: 110px */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

body::-webkit-scrollbar {
    display: none;
  }

.page-loader-wrapper {
z-index: 99999999;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
background: #eee;
overflow: hidden;
text-align: center; }
.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444; }
.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px); }



/* Preloader ================================== */
.md-preloader .pl-red {
    stroke: #000000; }
  
  .md-preloader {
      font-size: 0;
      display: inline-block;
      width: 50px;
  }
  
  .md-preloader svg {
      -webkit-animation: inner 1320ms linear infinite;
      animation: inner 1320ms linear infinite
  }
  
  .md-preloader svg circle {
      fill: none;
      stroke: #000000;
      stroke-linecap: square;
      -webkit-animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite;
      animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite
  }
  
  @-webkit-keyframes outer {
      0% {
          -webkit-transform: rotate(0);
          transform: rotate(0)
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg)
      }
  }
  
  @keyframes outer {
      0% {
          -webkit-transform: rotate(0);
          transform: rotate(0)
      }
      100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg)
      }
  }
  
  @-webkit-keyframes inner {
      0% {
          -webkit-transform: rotate(-100.8deg);
          transform: rotate(-100.8deg)
      }
      100% {
          -webkit-transform: rotate(0);
          transform: rotate(0)
      }
  }
  
  @keyframes inner {
      0% {
          -webkit-transform: rotate(-100.8deg);
          transform: rotate(-100.8deg)
      }
      100% {
          -webkit-transform: rotate(0);
          transform: rotate(0)
      }
  }
  
  @-webkit-keyframes arc {
      0% {
          stroke-dasharray: 1 210.48670779px;
          stroke-dashoffset: 0
      }
      40% {
          stroke-dasharray: 151.55042961px, 210.48670779px;
          stroke-dashoffset: 0
      }
      100% {
          stroke-dasharray: 1 210.48670779px;
          stroke-dashoffset: -151.55042961px
      }
  }
  
  @keyframes arc {
      0% {
          stroke-dasharray: 1 210.48670779px;
          stroke-dashoffset: 0
      }
      40% {
          stroke-dasharray: 151.55042961px, 210.48670779px;
          stroke-dashoffset: 0
      }
      100% {
          stroke-dasharray: 1 210.48670779px;
          stroke-dashoffset: -151.55042961px
      }
  }
  

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    
    margin: 20px auto;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);

}
.row#body-icons{
    text-align: center;
    margin-top: auto;
}

.row#banner { 
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
    pointer-events: none;
  }
#texto-banner {
    z-index: 1;
    position: absolute;
    top: 120px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 1px 10px black;
    margin-top: 110px;
    transition: 0.2s linear;

}



#icon-index {
    font-size: 100px;
}

.swiper-slide#banner {
    top: 0px;
    object-fit: cover;
    -webkit-mask-size: cover;
    mask-size: cover;
    z-index: 0;
    filter: brightness(50%);
  }

.card-header {
    background-color: #f5f5f5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}

.card-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.card-body {
    display: inline-flexbox;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    width: auto;
    padding-bottom: 0px;
    font-size: 20px;
}

.card-img-top {
    width: 30%;
}

.btn-primary {
    background-color: #50a7e0;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    border-color: #f5f5f5;
    color: whitesmoke;
    width: 35%;

}

.btn-primary:hover {
    background-color: #0085dd;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: #0085dd;
    color: white;

}

#caixa-texto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

#texto1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#texto2 {
    font-size: 20px;
    
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

img.carousel {
    width: 100% auto;

    margin-bottom: 20px;
    z-index: 9900;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    
}

.swiper {
    position: revert;
    margin-left:auto;
    align-items: center;

}
.swiper2 {
    position: revert;
    margin-left:auto;
    align-items: center;

}

.swiper-wrapper {
    width: 100%;
    height: auto;
    max-width: 90%;
    max-height: 500px;
    margin-bottom: 20px;
    z-index: 0;
    display: flex;
    vertical-align: middle;
}



.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
    z-index: 0;
}

.swiper.wiper-initialized.swiper-horizontal.swiper-android {
    z-index: 0;
}

.swiper-button-next {
    z-index: 0;
    
}

.swiper-button-prev {
    z-index: 0;
    
}
.swiper-pagination {
    display: none;
}


footer {
    text-align: center;
    margin-top: auto;
}

.modalidades {
    margin-bottom: 50px;
}   

.divisao {
    margin: 50px;

}

.card-img-top#ambulancia {
    width: 220px;
    height: auto;
}
.card#servicos {
    align-items: center;
    

}

.container#servicos {
    align-items: center;
    text-align: center;

}

.btn#servicos {
    width: 100%;
}
.fas.fa-user-md#icon-index {
    font-size: 230px;
    margin-top: 10px;
}
.passo_4#passo_4 {
    font-size: 40px;
}

.col-md-12#passo_4 {
    margin-top: 30px;

}
.passo_4#titulo {
    font-size: 50px;
    margin-top: 30px;
}

.passo_4#texto2 {
    font-size: 30px;
    
}

.card#caixa-texto {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgb(241, 241, 241);
}

.quem-somos#titulo {
    font-size: 50px;
    margin-top: 30px;
}

.container#container-mobile {
    padding-top: 50px;
}

#texto2 {
    font-size: 30px;
}

#btn_menu-index-mobile {
    display: none;
}
.bt-whatsapp-site {
    display: none;
}

@media only screen and (max-width: 800px) {

    :root {
        --script_banner: $(document).ready(function(){$('.passo_4').attr('class','')});
        
      }

      :root {
        --mostrar-mais: $(document).ready(function(){$('.passo_4').('overflow','')});
        
      }

      .bt-whatsapp-site {
        position: fixed;
        left: 0px;
        bottom: 20px;
        z-index: 9999;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 14px 15px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        
      }

    #btn_menu-index {
        display: block;
    }

    #numtel {
        display: block;
    }

    .fas.fa-user-md#icon-index {
        font-size: 100px;
    }

    .container#container-mobile {
        padding-top: 0px;
    }

    #servicos {
        margin-bottom: 20px;
    }

    #texto2 {
        font-size: 14px;
    }

    .card-text {
        font-size: 14px;
    
    }

    #texto-banner-mobile {
        z-index: 1;
        position: absolute;
        top: 60px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: 0px 1px 10px black;
        margin-top: 110px;
        transition: 0.2s linear;
    }

    .card {
        width: 100%;
        margin: 0 auto;
    }

    .card-text#mostrar-mais {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        margin:5px 0 0 0;

    }

    .row {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .btn-primary {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    /* .swiper foi alterado no css swiper-bundle (z-index: 1 = 0)*/
    .swiper {
        width: 100%;
        height: auto;
        z-index: 0;
        

    }
    
    .swiper-wrapper {
        width: 100%;
        max-width: 70%;

    }

    .swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events {
        z-index: 0; 
    }
    
    .swiper-android {
        width: 100%;
        z-index: 0;
    }

    .swiper.swiper-initialized.swiper-horizontal.swiper-android {
        width: 100%;
    }
    .swiper.swiper-initialized.swiper-horizontal.swiper-ios {
        z-index: 0;
    }

    .swiper-button-next {
        z-index: 0;
        display: none;

        
    }
    .swiper-button-prev {
        z-index: 0;
        display: none;
        
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 15%;
        left: 0;
        width: 100%;
        z-index: 0;
        margin-top: 20px;
        display: block;
    
    }

    footer .container {
        width: 100%;
        bottom: 0%;
        height: 0px;
    }


}   /* end media query */