<div style="margin: 0px;" id="banner" class="row">
    <label id="texto-banner">EXPECIALISTAS NO TRATAMENTO <br> PARA ABUSO DE ÁLCOOL E OUTRAS DROGAS</label>
    <label id="texto-banner-mobile">EXPECIALISTAS NO TRATAMENTO <br> PARA ABUSO DE ÁLCOOL E OUTRAS DROGAS</label>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" src="media/imagens/predio_um.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" src="media/imagens/externa_um_rumo_certo.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" src="media/imagens/piscina_rumo_certo.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" src="media/imagens/sala_visita_rumo_certo.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" src="media/imagens/refeiorio_dois_salto.jpg" alt="Refeitório_dois"></div>    
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" src="media/imagens/refeitorio_salto.jpg" alt="Refeitório_dois"></div>
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  </div>