<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'logo_teste002.ico' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-5.1.3-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-5.1.3-dist/css/bootstrap.css.map' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/webflow.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/webflow.js' %}"></script>

  </head>
  
  <title>Grupo Nova</title>
  
  <header class="header">
    
    <div id="menu" class="menu-index">
      <a href="#"><img id="logo" class="logo-index" src="media/imagens/logo_teste003.png" alt="logotipo"></a>
      <a href="#"><img id="logo-mobile" class="logo-index" src="media/imagens/logo_teste003.png" alt="logotipo"></a>
      <div class="menu_right" id="menu_principal">
        <a id="btn_menu-index" class="btn_menu-index" href="#">Início</a>
        <a id="btn_menu-index" class="btn_menu-index" href="#tratamento-mobile">Tratamento</a>
        <a id="btn_menu-index" class="btn_menu-index" href="#clinicas-mobile">Clínicas</a>
        <a id="btn_menu-index" class="btn_menu-index" href="#servicos">Serviços</a>
        <a id="btn_menu-index" class="btn_menu-index" href="#contato">Contato</a>
      </div>
      <div class="menu_right" id="icon_menu" >
        <a href="javascript:void(0)" onclick="menuFunc()" class="icon_menu"><i id="icon_btn" class="fa fa-bars">
          <span id="text-menu" style="font-size: 60px; vertical-align: middle; margin-top: 10px;"> MENU</span></i></a>
        <img class="menu_right" id="logo_mobile" src="">
      </div>
      <div class="contatomenu" id="contatomenu">
      <a id="btn_menu-index" class="btn_menu-index" href="tel:067982204464" ><i id="telefone" class="fas fa-phone">
        </i><p class="numtel" id="numtel">(67) 98220-4464</p>
      <a id="btn_menu-index" class="btn_menu-index" href="https://wa.me/5567982204464" target="_blank"><i id="whatsmenu" class="fab fa-whatsapp">
        </i>
      </div>
    </div>

      <div class="list_menu" id="list_menu" onclick="menuClose()">
        <ul class="list" id="list">
          <li><a href="#">Início</a></li>
          <li><a href="#tratamento-mobile">Tratamento</a></li>
          <li><a href="#clinicas-mobile">Clínicas</a></li>
          <li><a href="#servicos">Serviços</a></li>
          <li><a href="#contato">Contato</a></li>
          <li style="align-items: center; display: block;"><a href="https://card.gconelhero.ga/" target="_blank"><img id="logo_icon" class="logo_icon" src="https://card.gconelhero.ga/TMode/CSTECH_COMPLETE_ICON.png" alt=""></a></li>
        </ul>
      </div>
  </header>

<body class="body-index">

  <!-- Page Loader -->
  <div class="page-loader-wrapper">
    <div class="loader">
      <div class="md-preloader">
        <svg viewbox="0 0 75 75">
          <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4" />
        </svg>
      </div>
      <p class="loader-message">Carregando...</p>
    </div>
  </div>
  <!-- #Page Loader -->

  <!-- Overlay -->
  <div class="overlay"></div>
  <!--  #Overlay -->
  
  <div style="margin: 0px;" id="banner" class="row">
    <label id="texto-banner">EXPECIALISTAS NO TRATAMENTO <br> PARA ABUSO DE ÁLCOOL E OUTRAS DROGAS</label>
    <label id="texto-banner-mobile">EXPECIALISTAS NO TRATAMENTO <br> PARA ABUSO DE ÁLCOOL E OUTRAS DROGAS</label>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" onclick="onClick(this)" src="media/imagens/predio_um.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" onclick="onClick(this)" src="media/imagens/externa_um_rumo_certo.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" onclick="onClick(this)" src="media/imagens/piscina_rumo_certo.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" onclick="onClick(this)" src="media/imagens/sala_visita_rumo_certo.jpg" alt="Entrada"></div>
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" onclick="onClick(this)" src="media/imagens/refeiorio_dois_salto.jpg" alt="Refeitório_dois"></div>    
        <div id="banner" class="swiper-slide"><img id="myImg" class="img_banner swiper-lazy" onclick="onClick(this)" src="media/imagens/refeitorio_salto.jpg" alt="Refeitório_dois"></div>
        <div class="swiper-lazy-preloader"></div>
      </div>
    
    </div>
  </div>

  
    
  <div id="caixa-texto" class="container">
    <div class="row">
      <h1 id="como_funciona" class="banner">Como Funciona?</h1>
      <div class="col-md-4">
        <p id="texto1">
          <h4>1º Passo</h4><i id="icon-index" style="color: #00b1ff;" class="fas fa-users"></i><br>
            <h4>Pré-atendimento</h4>
          </p>
        <p id="texto2">
          Um primeiro contato com a família para entendermos o contexto e o perfil do paciente.
        </p>
      </div>

      <div class="col-md-4">

        <p id="texto1">
          <h4>2º Passo</h4><i id="icon-index" style="color: #00b1ff;" class="fas fa-filter"></i><br>
          <h4>Planejamento</h4>
        </p>
        <p id="texto2">
          Filtramos as possibilidades que melhor atendem as necessidades da família e do paciente.
        </p>
      </div>

      <div class="col-md-4">
        <p id="texto1">
          <h4>3º Passo</h4><i id="icon-index" style="color: #00b1ff;" class="fas fa-ambulance"></i><br>
           <h4>Deslocamento</h4>
        </p>
        <p id="texto2">
          Fazemos o deslocamento do paciente para o Centro de Tratamento de escolha da família ou do paciente.
        </p>
      </div>

      <div id="passo_4" class="col-md-12">
        <p id="texto1">
          <h4 id="passo_4" class="passo_4" style="justify-content: center; display: flex; margin: auto;">4º Passo</h4><i id="icon-index" style="color: #00b1ff;" class="fas fa-user-md"></i><br>
          <h4 id="titulo" class="passo_4">Suporte</h4>
        </p>
        <p class="passo_4" style="justify-content: center; display: flex; margin: auto;" class="col-md-8" style="font-weight: bold;" id="texto2">
          Oferecemos suporte técnico e orientação para os familiares e paciente até que o processo seja concluído com sucesso. 
          Para isso contamos com médicos, terapeutas e especialistas em saúde comportamental.
        </p>
      </div>

    </div>
  </div>

  
  

  <div style="padding: 30px;" id="caixa-texto" class="container">
    <div style="background-color: rgb(230, 230, 230); padding: 0.5px;" class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
    
<div class="container">
  <div id="body-icons" class="row">
    <h1 class="modalidades">Modalidades</h1>


    <div class="col-md-4">
      <img class="card-img-top" src="media/imagens/icones/Intervention.webp" alt="Card image cap">
      <div class="card-body">
        <h4>Intervenção</h4>
        <p class="card-text">Profissionais licenciados e certificados que estão prontos para trabalhar com você e sua família, 
          atendemos em todo o país, estamos disponíveis para ajudar no tratamento para abuso de álcool ou drogas.</p>
      </div>
    </div>


    <div class="col-md-4">
      <img class="card-img-top" src="media/imagens/icones/sober-living.png" alt="Card image cap">
      <div class="card-body">
        <h4>Vivendo Sóbrio</h4>
        <p class="card-text">Instalações confortáveis ​​e bem equipadas para ajudá-lo no suporte e mantê-lo concentrado durante o tratamento.
          Nossas clínicas podem servir como uma ponte para a vida cotidiana após o programa de reabilitação.
        </p>
      </div>
    </div>
    

    <div class="col-md-4">
      <img class="card-img-top" src="media/imagens/icones/inpatient-icon.png" alt="Card image cap">
      <div class="card-body">
        <h4>Internações</h4>
        <p class="card-text">Programas de internação integral ou parcial que permitem que você ou seu ente querido se curem com conforto, 
          e livres das distrações e gatilhos que contribuem para o uso de substâncias.
        </p>
      </div>
    </div>
  </div>

  <div id="container-mobile" class="container">
    <div id="body-icons" class="row">

      <div class="col-md-4">
        <img class="card-img-top" src="media/imagens/icones/outpatient-icon.png" alt="Card image cap">
        <div class="card-body">
          <h4>Personalizados</h4>
          <p class="card-text">Programas personalizados e aprofundados de cuidados ambulatoriais regulares e intensivos 
          que oferecem a flexibilidade para manter sua carreira, família e outros aspectos importantes de sua vida enquanto você está recebendo ajuda.</p>
        </div>
      </div>

      <div class="col-md-4">
        <img class="card-img-top" src="media/imagens/icones/rehab.png" alt="Card image cap">
        <div class="card-body">
          <h4>Reabilitação de Comportamento</h4>
          <p class="card-text">Programas de reabilitação dinâmicos, intuitivos e assistidos, 
            que permitem abordar as causas e os gatilhos do uso de substâncias e desenvolver 
            mecanismos de enfrentamento para evitar recaídas na recuperação a longo prazo.</p>
        </div>
      </div>

      <div class="col-md-4">
      <img class="card-img-top" src="media/imagens/icones/dual-diagnosis-icon.png" alt="Card image cap">
        <div class="card-body">
          <h4>Diagnósticos Paralelos</h4>
          <p class="card-text">Nossos médicos, terapeutas e especialistas em saúde comportamental trabalham 
            lado a lado para abordar o impacto imediato do vício junto com quaisquer problemas de saúde mental 
            subjacentes associados ao uso de substâncias.</p>
        </div>
      </div>
    </div>


    <div id="caixa-texto" class="container">
      <div class="divisao" style="background-color: rgb(230, 230, 230); padding: 0.5px;" class="row">
        <div id="clinicas-mobile" class="col-md-12">
        </div>
      </div>
    </div>

    <h1 id="clinicas" class="modalidades">Clínicas</h1>
    <div class="card container">
      
      <div class="row">
      
        <div class="">
          <div id="mostrar-mais" class="card-body">
            <h4 class="card-title">Clínica Masculina</h4>
            
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" onclick="" src="media/imagens/predio_dois.jpg" alt="Prédio">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/predio_dois.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "predio_dois.jpg",
                          "origFileName": "predio_dois.jpg",
                          "url": "/media/imagens/predio_dois.jpg",
                          "_id": "predio",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" onclick="" src="media/imagens/predio_um.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/predio_um.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "predio_um.jpg",
                          "origFileName": "predio_um.jpg",
                          "url": "/media/imagens/predio_um.jpg",
                          "_id": "entrada",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy"  src="media/imagens/externa_um_rumo_certo.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/externa_um_rumo_certo.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "externa_um_rumo_certo.jpg",
                          "origFileName": "externa_um_rumo_certo.jpg",
                          "url": "/media/imagens/externa_um_rumo_certo.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/piscina_rumo_certo.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/piscina_rumo_certo.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "piscina_rumo_certo.jpg",
                          "origFileName": "piscina_rumo_certo.jpg",
                          "url": "/media/imagens/piscina_rumo_certo.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/quadra_rumo_certo.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/quadra_rumo_certo.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "quadra_rumo_certo.jpg",
                          "origFileName": "quadra_rumo_certo.jpg",
                          "url": "/media/imagens/quadra_rumo_certo.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/sala_reuniao_rumo_certo.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/sala_reuniao_rumo_certo.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "sala_reuniao_rumo_certo.jpg",
                          "origFileName": "sala_reuniao_rumo_certo.jpg",
                          "url": "/media/imagens/sala_reuniao_rumo_certo.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>


                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/sala_visita_rumo_certo.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/sala_visita_rumo_certo.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "sala_visita_rumo_certo.jpg",
                          "origFileName": "sala_visita_rumo_certo.jpg",
                          "url": "/media/imagens/sala_visita_rumo_certo.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/piscina_coberta_rumo_certo.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/piscina_coberta_rumo_certo.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "piscina_coberta_rumo_certo.jpg",
                          "origFileName": "piscina_coberta_rumo_certo.jpg",
                          "url": "/media/imagens/piscina_coberta_rumo_certo.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria1"
                    }
                    </script>
                  </a>
                </div>
              </div>
            </div>

            <p id="" class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Quarto para duas ou três pessoas, 
              quarto com ar condicionado, sala de TV, churrasqueira, piscina externa, 
              piscina coberta aquecida, sauna, quadra poliesportiva, 
              amplo jardim botânico, quiosque para visita dos familiares,
              tudo isso em um ambiente amplo e agradável para que o paciente
              possa desfrutar um tratamento individualizado.</p>
              
          </div>

          <div id="caixa-texto" class="container">
            <div id="divisao-card" class="divisao" style="background-color: rgb(230, 230, 230); padding: 0.5px;" class="row">
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
  
  
      <div class="row">
      </div>
        <div class="">
          <!--<h2 class="card-header">Clínica 1</h2>-->
          <div class="card-body">
            <h4 class="card-title">Clínica Masculina</h4>
            
              <div class="swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/piscina_st_fe.jpeg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/piscina_st_fe.jpeg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "piscina_st_fe.jpeg",
                          "origFileName": "piscina_st_fe.jpeg",
                          "url": "/media/imagens/piscina_st_fe.jpeg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria2"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/quarto_st_fe.jpeg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/quarto_st_fe.jpeg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "quarto_st_fe.jpeg",
                          "origFileName": "quarto_st_fe.jpeg",
                          "url": "/media/imagens/quarto_st_fe.jpeg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria2"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/campo_st_fe.jpeg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/campo_st_fe.jpeg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "campo_st_fe.jpeg",
                          "origFileName": "campo_st_fe.jpeg",
                          "url": "/media/imagens/campo_st_fe.jpeg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria2"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/alojamento_st_fe.jpeg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/alojamento_st_fe.jpeg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "alojamento_st_fe.jpeg",
                          "origFileName": "alojamento_st_fe.jpeg",
                          "url": "/media/imagens/alojamento_st_fe.jpeg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria2"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/banheiro_st_fe.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/banheiro_st_fe.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "banheiro_st_fe.jpg",
                          "origFileName": "banheiro_st_fe.jpg",
                          "url": "/media/imagens/banheiro_st_fe.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria2"
                    }
                    </script>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/banheiro_dois_st_fe.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/banheiro_dois_st_fe.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "banheiro_dois_st_fe.jpg",
                          "origFileName": "banheiro_dois_st_fe.jpg",
                          "url": "/media/imagens/banheiro_dois_st_fe.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria2"
                    }
                    </script>
                  </a>
                </div>
              </div>
            </div>
  
            <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Sala de TV, piscina, campo de futebol, jardim, 
              quiosque para visita dos familiares aos residentes,
              tudo isso em um ambiente amplo e agradável para o melhor acolhimento ao paciente.</p>
            
          </div>

          <div id="caixa-texto" class="container">
            <div  id="divisao-card" class="divisao" style="background-color: rgb(230, 230, 230); padding: 0.5px;" class="row">
              <div class="col-md-12">
              </div>
            </div>
          </div>

        </div>

  
  
      <div class="row">
      </div>
        <div class="">
          <!--<h2 class="card-header">Clínica 1</h2>-->
          <div class="card-body">
            <h4 class="card-title">Clínica Masculina</h4>
              <div class="swiper">
              <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/refeiorio_dois_salto.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "refeiorio_dois_salto.jpg",
                          "origFileName": "refeiorio_dois_salto.jpg",
                          "url": "/media/imagens/refeiorio_dois_salto.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria3"
                    }
                    </script>
                  </a>
                </div>


                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/almoxarifado_salto.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/almoxarifado_salto.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "almoxarifado_salto.jpg",
                          "origFileName": "almoxarifado_salto.jpg",
                          "url": "/media/imagens/almoxarifado_salto.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria3"
                    }
                    </script>
                  </a>
                </div>


                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/externa_salto.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/externa_salto.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "externa_salto.jpg",
                          "origFileName": "externa_salto.jpg",
                          "url": "/media/imagens/externa_salto.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria3"
                    }
                    </script>
                  </a>
                </div>


                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/escritorio_salto.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/escritorio_salto.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "escritorio_salto.jpg",
                          "origFileName": "escritorio_salto.jpg",
                          "url": "/media/imagens/escritorio_salto.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria3"
                    }
                    </script>
                  </a>
                </div>


                <div class="swiper-slide">
                  <a href="#" class="w-lightbox">
                    <img id="myImg" class="img_nova swiper-lazy" src="media/imagens/quadra_salto.jpg" alt="Entrada">
                    <script type="application/json" class="w-json">{
                      "items": [
                        {
                          "cdnUrl": "/media/imagens/quadra_salto.jpg",
                          "width": 1000,
                          "caption": "Masculina Campo Grande - MS",
                          "height": 680,
                          "fileName": "quadra_salto.jpg",
                          "origFileName": "quadra_salto.jpg",
                          "url": "/media/imagens/quadra_salto.jpg",
                          "_id": "piscina",
                          "type": "image",
                          "fileSize": 97855
                        }
                      ],
                      "group": "galeria3"
                    }
                    </script>
                  </a>
                </div>
              </div>
              
              <!-- If we need pagination -->
            <!--<div class="swiper-pagination" style="bottom: 13%;"></div>-->
            <!-- If we need navigation buttons 
            <div style="top: 42%; color: #50a7e0;" class="swiper-button-prev"></div>
            <div style="top: 42%; color: #50a7e0;" class="swiper-button-next"></div>-->
  
            </div>
            <p id="" class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;Sala de TV, piscina, campo de futebol, jardim, 
              quiosque para visita dos familiares aos residentes,
              tudo isso em um ambiente amplo e agradável para o melhor acolhimento ao paciente.
              </p>
            <a href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
          </div>

        </div>
        
            <div id="myModal" class="modal" class="close" onclick="document.getElementById('myModal').style.display='none'">    
              <span id="close" class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
              <img class="modal-content carousel" id="img01">
              <div id="caption"></div>
            </div>


  <script>

    var swiper = new Swiper(".swiper", {
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          breakpoints: {
            320: {
              slidesPerView: 1,
              spaceBetween: 0,
            },
            768: {
              slidesPerView: 2,
              spaceBetween: 0,
            },
            1024: {
              slidesPerView: 3,
              spaceBetween: 0,
            },
          },
          pagination: {
      el: '.swiper-pagination',
      type: 'bullets',
          },
          autoplay: {
         delay: 5000,
          },
          loop: true,
          preloadImages: true,
          lazy: true,
        });

  </script>  
      

    </div>
  </div>
  
  <div id="caixa-texto" class="container">
    <div id="divisao-card" class="divisao" style="background-color: rgb(230, 230, 230); padding: 0.5px;" class="row">
      <div id="tratamento-mobile" class="col-md-12">
      </div>
    </div>
  </div>


  <h1 class="modalidades">Métodos</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Terapia Cognitiva Comportamental</h4>
            <div><img id="tcc" class="img_tratamento" src="media/imagens/tratamento/TCC.jpg"></div><br>
            <p class="card-text">
              
              TCC é uma ferramenta poderosa no tratamento 
              porque pode ser usada em muitos vícios diferentes, como, por exemplo, 
              vício em comida, vício em álcool, vício em medicamentos prescritos e outras drogas. 
              A TCC não apenas pode ajudá-lo a reconhecer seus padrões de comportamento prejudiciais à saúde, 
              mas também pode ajudá-lo a aprender a identificar os gatilhos e a desenvolver habilidades de enfrentamento. 
              A TCC também pode ser combinada com outras técnicas terapêuticas.
            </p>
            <a href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
  


  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Terapia Comportamental Racional Emotiva</h4>
      <div><img id="tcre" class="img_tratamento" src="media/imagens/tratamento/TCER.jpeg"></div><br>
      <p class="card-text"> 
        
        A TCRE pode ajudá-lo a reconhecer seus pensamentos negativos
         e fornecer maneiras de combater os sentimentos de autodestruição. 
         O objetivo do TCRE é ajudá-lo a perceber que o poder do pensamento racional 
         está dentro de você e não está relacionado a situações externas ou fatores estressantes.
        
      </p>
      
      <a href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
    </div>
  </div>


</div>
</div>
</div>


  <!--<h1 class="text-center">Tratamento</h1>-->
<div class="container">
<div class="row">
<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Gerenciamento de Contingência</h4>
      <div><img id="gc" class="img_tratamento" src="media/imagens/tratamento/GC.jpg"></div><br>
      <p class="card-text"> 

        GC pode ser usado para tratar uma ampla variedade de vícios, 
        incluindo álcool, narcóticos e tabaco. A terapia de 
        gerenciamento de contingências reforça seu comportamento positivo, 
        isto é, manter a sobriedade, dando-lhe recompensas tangíveis. 
        Esse tipo de tratamento tem sido usado com sucesso para combater a recaída, 
        de acordo com o National Institute on Drug Abuse.

        
      </p>
      <a href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
    </div>
  </div>


</div>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-sm-12">

  <!--<h1 class="text-center">Tratamento</h1>-->

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Os 12 Passos</h4>
      <div><img id="passos" class="img_tratamento" src="media/imagens/tratamento/12passo.jpg"></div><br>
      <p class="card-text"> 
        
        A terapia de facilitação de doze passos (programa de 12 passo) 
        pode ser usada para tratar o abuso de álcool e substâncias. 
        É uma forma de terapia de grupo que inclui o reconhecimento 
        de que o vício tem várias consequências negativas que podem ser sociais, 
        emocionais, espirituais e físicas. Esse tipo de terapia começa com a aceitação, 
        depois segue para a rendição a um poder superior e, por fim, 
        faz a transição para o envolvimento em reuniões de grupo consistentes. 
        Programas como os populares Alcoólicos Anônimos e Narcóticos Anônimos usam reuniões de grupo para discussão e ajuda mútua.

        
      </p>
      <a href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
    </div>
  </div>


</div>
</div>
</div>


<div class="container">
<div class="row">
<div class="col-sm-12">

  <!--<h1 class="text-center">Tratamento</h1>-->

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Tratamento Medicamentoso</h4>
      <div><img id="medicamentoso" class="img_tratamento" src="media/imagens/tratamento/Medicamento.jpg"></div>
      <p class="card-text"> 

        A medicação pode desempenhar um papel importante 
        na recuperação quando combinada com terapias comportamentais. 
        Certos medicamentos podem ser usados ​​para reduzir os desejos, 
        melhorar o humor e diminuir os comportamentos de dependência e de abstinência.
        Medicamentos como o acamprosato podem ajudar a reduzir o hábito de beber.
        Se você ou um ente querido está lutando contra um vício, não precisa lutar sozinho. 
        Existem tratamentos de sucesso disponíveis que podem ajudá-lo a superar seu vício.

        
      </p>
      
      <a id="servicos-mobile" href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
    </div>
  </div>


</div>
</div>
</div>
  
<div id="caixa-texto" class="container">
  <div id="divisao-card" class="divisao" style="background-color: rgb(230, 230, 230); padding: 0.5px;" class="row">
    <div id="contato" class="col-md-12">
    </div>
  </div>
</div>

<div class="container">
  <div id="body-icons" class="row">
    <h1  class="modalidades">Contato</h1>

    <!--Section: Contact v.2-->
<section class="mb-12">
  <!--Section description-->

  <div class="row">

      <!--Grid column-->
      <div style="margin-bottom: 0%;" class="col-md-12 mb-md-0 mb-5">
          <form id="contact-form" name="contact-form" method="post">{% csrf_token %}
              
              <div class="row">
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        {{form.nome}}
                      </div>
                  </div>
                  <br>

                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        {{form.email}}
                      </div>
                  </div>
              </div>
              <br>

              <div class="row">
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                        {{form.telefone}}
                      </div>
                  </div>
                  <br>

                <div class="col-md-6">
                    <div class="md-form mb-0">
                      {{form.subject}}
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                      {{form.mensagem}}
                    </div>

                </div>
              </div>
              <button onclick="" value="Enviar" data-wait="Please wait..."
                    class="btn btn-primary">Enviar</button>
          </form><br>

          <a id="btn_menu-index" class="btn_menu-index" href="tel:067982204464" ><i id="telefone" class="fas fa-phone">
          </i><p class="numtel" id="numtel">(67) 98220-4464</p></a>
          
          <div class="status"></div>
          
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.2-->


<div id="caixa-texto" class="container">
  <div id="divisao-card" class="divisao" style="background-color: rgb(230, 230, 230); padding: 0.5px; margin-top: 0px;" class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>


<div id="servicos" class="container">
  <div id="body-icons" class="row">
    <h1 id="servicos" class="modalidades">Serviços</h1>

      <div id="servicos" class="card col-md-5">
        <img class="card-img-top" src="media/imagens/remocao_logo.png" alt="Card image cap">
        <div class="card-body">
          <h4>Remoção Especializada</h4>
          <p class="card-text">
            A remoção especializada do paciente 
            está entre os pontos cruciais para um tratamento bem sucedido. 
            O GrupoNova conta com equipes de remoção especializadas e experientes em localizar, 
            convencer e resgatar o paciente em qualquer estágio da dependência com total segurança e discrição.
          </p>
            
        </div>
        <a id="servicos" href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
      </div>

      <div id="servicos" class="card col-md-5">
      <img id="ambulancia" class="card-img-top" src="media/imagens/ambulancia.jpg" alt="Card image cap">
        <div class="card-body">
          <h4>Internação e Encaminhamento</h4>
          <p class="card-text">O GrupoNova percebe que o processo de desintoxicação por si só não constitui tratamento para abuso de substâncias, 
            mas é parte de um contínua de cuidados para o tratamento de abuso de substâncias.
            Para isso contamos com médicos, terapeutas e especialistas em saúde comportamental.
          </p>
            
        </div>
        <a id="servicos" href="https://wa.me/5567982204464" target="_blank" class="btn btn-primary">Saiba mais</a>
      </div>
    </div>

      <div id="caixa-texto" class="container">
        <div id="divisao-card" class="divisao" style="background-color: rgb(230, 230, 230); padding: 0.5px;" class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
      

      <div id="caixa-texto" class="card container">
        <h1 id="titulo" class="quem-somos">Quem Somos?</h1>
    
        <div class="row">
          <div class="col-md-12">
            <p id="texto2">
              Somos especializados em desintoxicação com supervisão médica e terapêutica de pacientes que sofrem por uso de álcool e outras drogas.
            </p>
            <p id="texto2">
              Estamos atuando há mais de 20 anos, assessoramos e prestamos nossos serviços para diversos centros de tratamento pelo Brasil, 
              e já atendemos milhares de pacientes e seus familiares ao longo desses anos.
              Possuímos experiência em tratar e encaminhar pacientes
              Contamos com profissionais que são referência nos tratamenos psicológicos, 
              psiquiátricos e terapêuticos.
            </p>
          </div>
        </div>
    
    
        <div class="row">
          <div class="col-md-12">
            <p id="texto2">
            O Grupo Nova entende que o tratamento bem como a prevenção para abuso de substâncias,
            é um processo de trabalho que deve ser realizado com cuidado e responsabilidade,
            é a parte fundamental de um contínuo cuidado.<br><br>
        </p> 
      </div>     
      </div>

      <!--<h1 class="text-center">Tratamento</h1>-->
      
      </div>
      

    </div>
  </div>

</body>

<footer>
  <a href="https://wa.me/5567982204464" class="bt-whatsapp-site" target="_blank">
    <div id="icon-whats" class="ico-whats"><img src="media/imagens/icones/whatsapp_topo.png"></div>
  </a> 
  <p style="text-align: center;">Copyright &copy; Desenvolvido por <a href="https://card.gconelhero.ga/" target="_blank"><img style="display: inline; width: 70px; margin-top: 0px; margin-bottom: 10px;" id="logo_icon" class="logo_icon" src="https://card.gconelhero.ga/TMode/CSTECH_COMPLETE_ICON.png" alt=""></a></p>
  
</footer>

</html>